.btn{
    border: none;
    font-size: 2rem;
    padding: .5rem 1.5rem;
    border-radius: 0.5rem;
    background-color: $white;
    color: $black;
    text-transform: uppercase;
    letter-spacing: .5rem;
    cursor: pointer;
    position: relative;
    transition: all .2s;

    &:active, &:focus{
        outline: none;
        transform: translateY(-.1rem);
        //box-shadow: 0 .5rem 1rem rgba($black, .2);
    }
    &::after{
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
        z-index: -1;
        transition: all .4s;
        background-color: $white;
    }

    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($red, .2);
        color: $red;
        &::after{
            transform: scaleX(1.3) scaleY(1.5);
            opacity: 0;
        }
    }
    
}